body{
    background-color: antiquewhite;
}
.cabeca{
	position: relative;
	left: 25px;
}
nav a{
	text-decoration: none;
	color: black;
  font-weight: bold;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
a{
    font-size: 25px;
}
